/node_modules
/public/hot
/public/js/app.js
/public/storage
/storage/*.key
/vendor
.env
.env.example
.env.docker
.env.backup
.env.prod
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/mix-manifest.json